:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--light-gray);
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  min-height: 100vh;
  background-color: var(--very-light-gray);
  display: grid;
  place-items: center;
  padding: 5.5rem 1.5rem;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 920px;
}

.card__item {
  padding: 3rem;
}

.card__item--orange {
  background-color: var(--bright-orange);
}

.card__item--dark-cyan {
  background-color: var(--dark-cyan);
}

.card__item--very-dark-cyan {
  background-color: var(--very-dark-cyan);
}

.item__title {
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-top: 2.1875rem;
}

.item__text {
  margin-top: 1.5625rem;
  color: var(--transparent-white);
}

.btn {
  display: inline-block;
  margin-top: 1.5625rem;
  text-decoration: none;
  background-color: var(--very-light-gray);
  padding: 0.625rem 2rem;
  border-radius: 25px;
  border: 2px solid var(--very-light-gray);
  transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.btn--orange {
  color: var(--bright-orange);
}

.btn--dark-cyan {
  color: var(--dark-cyan);
}

.btn--very-dark-cyan {
  color: var(--very-dark-cyan);
}

@media (min-width: 930px) {
  .card {
    flex-direction: row;
  }

  .card__item {
    width: 33.3333%;
  }

  .btn {
    margin-top: 5.125rem;
  }
}
